@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 30 30% 98%;
    --foreground: 20 10% 15%;
    --card: 30 30% 98%;
    --card-foreground: 20 10% 15%;
    --popover: 30 30% 98%;
    --popover-foreground: 20 10% 15%;
    --primary: 158 15% 25%;
    --primary-foreground: 30 30% 98%;
    --secondary: 35 25% 90%;
    --secondary-foreground: 158 15% 25%;
    --muted: 35 20% 92%;
    --muted-foreground: 20 5% 40%;
    --accent: 158 20% 40%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 35 15% 85%;
    --input: 35 15% 85%;
    --ring: 158 20% 40%;
    --chart-1: 158 20% 40%;
    --chart-2: 35 25% 30%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.25rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  visibility: hidden;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}